.login-modal-component-wrapper {
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    backdrop-filter: blur(10px);

    display: flex;
    align-items: center;
    justify-content: center;

    .login-modal-component {
        height: 900px;
        width: 600px;

        padding: 1%;
        border-radius: 15px;
        border: 2px solid black;

        background-color: white;

        .close-button {
            display: flex;
            justify-content: end;
            &:hover {
                cursor: pointer;
            }
        }

        .url-window {
            height: 98%;
            width: 100%;
        }
    }
}
