.dummy-user-component {
    height: fit-content;
    width: fit-content;

    padding: 5px 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    .user-icon {
        height: 40px;
        width: auto;
    }

    .user-text {
        margin-right: 8px;
        font-size: 20px;
    }
}
